@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&family=Dancing+Script:wght@700&family=Mystery+Quest&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Dancing+Script:wght@700&family=Mystery+Quest&family=Rajdhani:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    }

.header {
  padding: 2%;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a:hover {
color: grey;
text-decoration: underline;
text-underline-offset: 1rem;
text-decoration-color: rgb(181, 181, 181);
}

.header__link {
 text-decoration: none;
 color: black;
 font-family:'Rajdhani',sans-serif ;
 font-size: 18px;
}

.header__link__sign {
  color: black;
  background-color: white;
  text-decoration: none;
  width: 100px;
  text-align: center;
  border-radius: 16px;
  font-size: 15px;
  font-weight: 100;
  padding: 10px 0;

}

.apresentacao {
 padding: 4% 30%;
 width: 500px;
 gap: 10px;
 display: flex;
 align-items: center;
 justify-content: space-between;
 flex-direction: column;

}

.titulo {
  font-family: 'Cinzel', sans-serif;
  font-size: 30px;
}

.login {
 font-size: 25px;
 font-family: 'Cinzel', sans-serif;
}

.login_caixa {
  font-family: 'Rajdhani',sans-serif ;
  background-color: aquamarine;
  width: 500px;
  text-align: center;
  border-radius: 16px;
  font-weight: 100;
  padding: 10px 0;
  border: 5px solid aquamarine;

}

.login_info {
  font-family: 'Rajdhani',sans-serif ;
  font-size: 20px;
  font-weight: 500;
}

.botao__entrar {
  font-family: 'Rajdhani',sans-serif ;
  font-size: 20px;
  font-weight: 500;
  background-color: aquamarine;
  width: 100px;
  text-align: center;
  border-radius: 16px;
  padding: 4%;
  border: 5px solid aquamarine;
}

.total {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10%;
}

.geral_footer {
  justify-content: center;
  padding: 2%;
  background-color: black; 
  align-items: center;
  place-items: center;
}

.footer_div {
  display: flex;
  justify-content: space-between;
  padding: 1%;
  text-align: center;
  align-items: center;

}

.link_footer {
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: white;
  font-family:'Rajdhani',sans-serif ;
  font-size: 18px;
  place-items: center;
}


img {
 width: 4%;
 height: 4%;
}
