@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&family=Dancing+Script:wght@700&family=Mystery+Quest&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Dancing+Script:wght@700&family=Mystery+Quest&family=Rajdhani:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    }

    .header {
        padding: 10px 25px;
        background-color: aquamarine;
        display: flex;
        align-items: center;
        justify-content: space-around;
      
        position: sticky;
        width: 100%;
        top: 0;
        z-index: 9999;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      }
      
      .logo {
        display: flex;
        align-items: center;
        gap: 10px;
      }
      
      .logo i {
        font-size: 25px;
      }
      
      .navigations {
        display: flex;
        align-items: center;
        gap: 25px;
      }
      
      .header__link {
        display: flex;
        align-items: center;
        gap: 5px;
        text-decoration: none;
        color: #02aa72;
        font-size: 1rem;
        font-weight: bold;
        transition: all 0.5s;
      }
      
      .header__link:hover {
        color: #000;
      }
      
      #focused {
        color: #fff;
        background-color: #000;
        padding: 8px 12px;
        border-radius: 999px;
      }
      
      .header_link_sign {
        color: white;
        background-color: black;
        text-decoration: none;
        width: 100px;
        text-align: center;
        border-radius: 999px;
        font-size: 15px;
        font-weight: 100;
        border: none;
        padding: 10px 15px;
        font-weight: bold;
      
        transition: all 0.5s;
      }
      
      .header_link_sign:hover {
        background-color: #22eda9;
        color: #000;
      }
      
.apresentacao {
 padding: 4% 30%;
 width: 500px;
 gap: 10px;
 display: flex;
 align-items: center;
 justify-content: space-between;
 flex-direction: column;

}

.titulo {
  font-family: 'Cinzel', sans-serif;
  font-size: 25px;
}

.login {
 font-size: 25px;
 font-family: 'Cinzel', sans-serif;
}

.login_caixa {
  font-family: 'Rajdhani',sans-serif ;
  background-color: aquamarine;
  width: 500px;
  text-align: center;
  border-radius: 16px;
  font-weight: 100;
  padding: 10px 0;
  border: 5px solid aquamarine;

}

.login_info {
  font-family: 'Rajdhani',sans-serif ;
  font-size: 20px;
  font-weight: 500;
}

button{
    align-items: center;
    color: white;
    background-color: black;
    font-family:'Rajdhani', sans-serif; 
    font-size: 20px;;
    width: 150px;
    height: 40px;
    border-radius: 20px;
}

.total {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10%;
}


.card-footer {
    padding: 15px 0;
    text-align: center;
  }
  
  footer {
    background-color: #000000;
    padding: 15px 25px;
  
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
  }
  footer h1 {
    color: #fff;
    font-size: 1.3rem;
  }
  
  footer p {
    color: #fff;
  }
  footer div {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  footer a {
    display: flex;
    align-items: center;
    gap: 5px;
  
    font-size: 1.3rem;
    color: #fff;
  
    cursor: pointer;
    text-decoration-line: none;
  }
  
  footer a:hover p {
    text-decoration-line: underline;
  }
  
  @media screen and (max-width: 750px) {
    .header__link {
      display: none;
    }
    .card-body {
      grid-template-columns: 1fr;
    }
  }
