@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&family=Dancing+Script:wght@700&family=Mystery+Quest&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Dancing+Script:wght@700&family=Mystery+Quest&family=Rajdhani:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cinzel", sans-serif;
}


body {

  background-image: white; 
  background-repeat: no-repeat;
  background-size: cover;
}


.header {
  padding: 10px 25px;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: space-around;

  position: sticky;
  width: 100%;
  top: 0;
  z-index: 9999;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo i {
  font-size: 25px;
}

.navigations {
  display: flex;
  align-items: center;
  gap: 25px;
}

.header__link {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #02aa72;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.5s;
}

.header__link:hover {
  color: #000;
}

#focused {
  color: #fff;
  background-color: #000;
  padding: 8px 12px;
  border-radius: 999px;
}

.header_link_sign {
  color: white;
  background-color: black;
  text-decoration: none;
  width: 100px;
  text-align: center;
  border-radius: 999px;
  font-size: 15px;
  font-weight: 100;
  border: none;
  padding: 10px 15px;
  font-weight: bold;

  transition: all 0.5s;
}

.header_link_sign:hover {
  background-color: #22eda9;
  color: #000;
}

.apresentacao {
 padding: 100px 200px;
 width: 600px;
 text-align: center;
}

.titulo {
  font-family: 'Cinzel', sans-serif;
  font-size: 25px;
}

.titulo2 {
  font-family: 'Cinzel',sans-serif ;
  color: black;
  font-size: 40px;
  font-weight: 200;
  display: flex;
  text-align: center;
  justify-content:center;
  

}

.login {
  font-size: 30px;
  text-align: center;
}

.login_caixa {
  background-color: aquamarine;
  width: 500px;
  text-align: center;
  border-radius: 16px;
  font-weight: 100;
  padding: 10px 0;

}

.login_info {
  font-size: 20px;
}

.search-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.pesquisar{
  width: 500px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;

}

.pesquisarbotao {
  font-family: 'Rajdhani',sans-serif ;
  font-size: 20px;
  color: white;
  font-weight: 100;
  background-color:black;
  width: 150px;
  border-radius: 15px;
  padding: 1%;
  border: none;

}

nav{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25vh;

}

main {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
}

.book {
  
  background-color: aquamarine;
  border: 1px solid aquamarine;
  border-radius: 5px;
  margin: 10px;
  padding: 30px;
  width: 30%; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family:'Rajdhani',sans-serif ;
}

.book img {
  width: 50%;
}

.book h2 {
  font-size: 24px;
  margin-top: 10px;
}

.buttonadquirir {
  background-color: black;
  color: white;
  width: 100px;
  height: 40px;
  text-align: center;
  border-radius: 16px;
  font-size: 14px;
  font-weight: bold; 
  padding: 3%;
}

.about-us {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f5f5;
  padding: 40px;
}

.about-us__image img {
  max-width: 80%;
  height: auto;
  border-radius: 6px;
}

.about-us__text {
  max-width: 600px;
  text-align: justify;
}

.about-us__text h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-footer {
  padding: 15px 0;
  text-align: center;
}

footer {
  background-color: #000000;
  padding: 15px 25px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
footer h1 {
  color: #fff;
  font-size: 1.3rem;
}

footer p {
  color: #fff;
}
footer div {
  display: flex;
  align-items: center;
  gap: 20px;
}

footer a {
  display: flex;
  align-items: center;
  gap: 5px;

  font-size: 1.3rem;
  color: #fff;

  cursor: pointer;
  text-decoration-line: none;
}

footer a:hover p {
  text-decoration-line: underline;
}

@media screen and (max-width: 750px) {
  .header__link {
    display: none;
  }
  .card-body {
    grid-template-columns: 1fr;
  }
}
