@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&family=Dancing+Script:wght@700&family=Mystery+Quest&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Dancing+Script:wght@700&family=Mystery+Quest&family=Rajdhani:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cinzel", sans-serif;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .header {
    padding: 10px 25px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 9999;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
  
  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .logo i {
    font-size: 25px;
  }
  
  .navigations {
    display: flex;
    align-items: center;
    gap: 25px;
  }
  
  .header__link {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: #02aa72;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.5s;
  }
  
  .header__link:hover {
    color: #000;
  }
  
  #focused {
    color: #fff;
    background-color: #000;
    padding: 8px 12px;
    border-radius: 999px;
  }
  
  .header_link_sign {
    color: white;
    background-color: black;
    text-decoration: none;
    width: 100px;
    text-align: center;
    border-radius: 999px;
    font-size: 13px;
    font-weight: 100;
    border: none;
    padding: 10px 15px;
    font-weight: bold;
    transition: all 0.5s;
  }
  
  .header_link_sign:hover {
    background-color: #22eda9;
    color: #000;
  }
  
  .user-page {
    padding: 20px;
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .book-list {
    margin-bottom: 20px;
  }
  
  .book-list h2 {
    color: #333;
  }
  
  .book-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .book-list li {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .add-book-form {
    margin-top: 20px;
  }
  
  .add-book-form label {
    display: block;
    margin-bottom: 8px;
    color: #333;
  }
  
  .add-book-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .add-book-form button {
    padding: 12px;
    background-color: aquamarine;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .add-book-form button:hover {
    background-color: #02aa72;
  }

      .card-footer {
        padding: 15px 0;
        text-align: center;
      }
      
      footer {
        background-color: #000000;
        padding: 15px 25px;
      
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
      }
      footer h1 {
        color: #fff;
        font-size: 1.3rem;
      }
      
      footer p {
        color: #fff;
      }
      footer div {
        display: flex;
        align-items: center;
        gap: 20px;
      }
      
      footer a {
        display: flex;
        align-items: center;
        gap: 5px;
      
        font-size: 1.3rem;
        color: #fff;
      
        cursor: pointer;
        text-decoration-line: none;
      }
      
      footer a:hover p {
        text-decoration-line: underline;
      }
      
      @media screen and (max-width: 750px) {
        .header__link {
          display: none;
        }
        .card-body {
          grid-template-columns: 1fr;
        }
      }

.carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.carousel img {
  width: 100%; 
  margin-right: 15px; 
}


      .card-footer {
        padding: 15px 0;
        text-align: center;
      }
      
      footer {
        background-color: #000000;
        padding: 15px 25px;
      
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
      }
      footer h1 {
        color: #fff;
        font-size: 1.3rem;
      }
      
      footer p {
        color: #fff;
      }
      footer div {
        display: flex;
        align-items: center;
        gap: 20px;
      }
      
      footer a {
        display: flex;
        align-items: center;
        gap: 5px;
      
        font-size: 1.3rem;
        color: #fff;
      
        cursor: pointer;
        text-decoration-line: none;
      }
      
      footer a:hover p {
        text-decoration-line: underline;
      }
      
      @media screen and (max-width: 750px) {
        .header__link {
          display: none;
        }
        .card-body {
          grid-template-columns: 1fr;
        }
      }
